.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    background-color: white;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-link {
    width: 64px; 
    height: 74px;
    padding: 16px 0 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(240, 239, 239);
}
.sidebar-link img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}
.sidebar-link > div {
    font-size: 10px;
   
    
}
/*-Media Queries*/
@media all and (max-width:798px) {
    .sidebar {
        display: none;
    }
    body {
        padding-left: 24px;
    }
}